* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #777;
}

.board {
  display: grid;
  background-color: #444;
  margin: 1px;
}

.tile {
  height: 50px;
  width: 50px;
  margin: 1px;
  user-select: none;
}

.tile:hover {
  border: 2px solid #eee;
}

.border-top {
  border-top: 2px solid #fca311;
}

.border-bottom {
  border-bottom: 2px solid #fca311;
}

.border-left {
  border-left: 2px solid #fca311;
}

.border-right {
  border-right: 2px solid #fca311;
}

.selected {
  position: relative;
}

.selected::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
  content: '';
}
